@font-face {
  font-family: "Be Vietnam Pro";
  src: url(/font/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}
p {
  margin: 0;
  font-size: 20px;
  font-family: Be Vietnam Pro;
  font-weight: bold;
}
body {
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
}
.logo {
  background-color: #e2e2e2;
  display: flex;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
.menu {
  background-color: #e2e2e2;
  width: 820px;
  height: 34px;
  justify-content: center;
  border-radius: 8px;
  margin: 0 40px 0 40px;
  align-items: center;
  display: flex;
}
.button {
  background-color: #e2e2e2;
  display: flex;
  width: 120px;
  height: 42px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  height: 680px;
  background-color: #f1f1f1;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
nav .box {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
nav .container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  border-radius: 8px;
  width: 585px;
  height: 267px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  border-radius: 8px;
  width: 585px;
  height: 520px;
}
.main1 {
  width: 100%;
  height: 1000px;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.main1 .title {
  width: 600px;
  height: 80px;
  background-color: #e2e2e2;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto 45px auto;
}
.main1 .box {
  height: 420px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 40px;
  margin: 0 auto 30px auto;
  width: 100%;
}
.main1 .item {
  width: 380px;
  height: 420px;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.main2 {
  width: 100%;
  height: 450px;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 80px 0;
}
.main2 .title {
  width: 600px;
  height: 80px;
  background-color: #e2e2e2;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto 45px auto;
}
.main2 .box {
  height: 300px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 35px;
  margin: 0 auto 0 auto;
  width: 100%;
}
.main2 .item {
  width: 216px;
  height: 300px;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.main3 {
  width: 100%;
  height: 425px;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.main3 .title {
  width: 600px;
  height: 80px;
  background-color: #e2e2e2;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto 45px auto;
}
.main3 .box {
  height: 300px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 36.667px;
  margin: 0 auto 0 auto;
  width: 100%;
}
.main3 .item {
  width: 277.5px;
  height: 300px;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.footer {
  width: 100%;
  height: 72px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
